.select2-selection__rendered {
    margin-top: 5px;
    margin-bottom: 5px;
}

.select2-selection {
    height: 38px !important;
}

.select2-selection__arrow {
    margin-top: 5px !important;
}

.task p {
    margin-bottom: 0 !important;
}

.dz-progress {
    /* progress bar covers file name */
    display: none !important;
}

.dropzone {
    min-height: 100px !important;
}
